<% provide(:title, 'All teams') %>
<h1>Mannschaften</h1>
<div class=center>
	<%= link_to "Neue Mannschaft erstellen", new_team_path, class: "btn btn-primary" if current_user.is_admin?%>
</div>
<div><br></div>
<ul class="teams">
	<% if @teams.count > 0 %>
		<div class="row">
		<aside>
			<% @teams.each do |team| %>
				<div class="span3">
					<%= render partial: 'team', locals: { team: team } %>
				</div>
	  		<%end%>
		</aside>
		</div>
	<%else%>
		<h6>Keine Mannschaften vorhanden</h6>
	<%end%>
</ul>