<div class="center hero-unit">
  <h1>Willkommen bei Mein.Programm</h1>

  <h2>
    Das ist die Startseite meines Programms
  </h2>
  <%= link_to "Anmelden", new_session_path, 
                              class: "btn btn-large btn-primary" %>
</div>

